.header {
  max-width: 700px;
  margin: 80px auto 0;
  display: flex;
  justify-content: flex-end;
}

.posts {
  max-width: 700px;
  margin: 50px auto;

  ul > a {
    display: block;

    & + a {
      margin-top: 50px;
    }

    transition: filter 0.3s ease;
    &:hover {
      filter: brightness(0.5);
    }
  }

  button {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-top: 53px;

    background: transparent;
    border: none;
    color: var(--highlight);
    font-weight: 600;
    font-size: 1.125rem;

    transition: filter 0.2s ease;
    &:hover {
      filter: brightness(0.8);
    }
  }
}
